# This file specifies files that are *not* uploaded to Google Cloud Platform when you run 'gcloud app deploy'.
# For more information, run 'gcloud topic gcloudignore'.

.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
ENV/
venv/
ENV.bak/
venv.bak/
*.sqlite3
instance/
.webassets-cache
*.log
*.pot
*.mo
*.db
*.sqlite
*.migrations
*.env
.env.*
.envrc
.idea/
.vscode/
.DS_Store
*.pem
*.crt
*.key
